.os-scrollbar.os-theme-app {
  --os-size: 8px;
  --os-padding-perpendicular: 2px;
  --os-padding-axis: 2px;

  --os-track-bg: transparent;
  --os-track-bg-hover: rgba(255, 255, 255, 0.04);
  --os-track-bg-active: rgba(255, 255, 255, 0.06);
  --os-track-border-radius: 999px;

  --os-handle-bg: var(--color-primary);
  --os-handle-bg-hover: var(--color-primary-hover);
  --os-handle-bg-active: var(--color-primary-hover);
  --os-handle-border-radius: 999px;

  --os-handle-min-size: 36px;
  --os-handle-interactive-area-offset: 4px;
}
